<div class="">
    <div class="object-thumbnail" data-id=""> <!-- one object -->
    <div class="header">
      <a href="#">
        <h4 data-name style="font-size:22px;">Create new object</h4>
      </a>
    </div>
    <div class="footer">
         <form id="newFolderForm" action="/" method="post" style="display:inline;">
          <input type="text" class="form-control" name="folder" id="folder" placeholder="Object name" style="width: 60%;float: left;">
          <input type="hidden" name="action" value="new">
          <button class="btn btn-warning center-block">Create</button>
        </form>
    </div>
    </div> <!-- /one object -->
</div>