<div class="">
    <div class="object-thumbnail" data-id=""> <!-- one object -->
    <div class="header">
      <a href="/info/{{name}}">
        <h4 data-name>{{name}}</h4>
      </a>
    </div>
    <div class="footer">
      <button class="btn btn-info full" onclick="window.location.href='/info/{{name}}'"  {{infoBtnDisabled}} >
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>Real Time monitoring</button>
      <hr>
      <button class="btn {{targetButtonClass}} full" onclick="window.location.href='/target/{{name}}'"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Add Target</button>
      <button class="btn {{interfaceBtnClass}} full" onclick="window.location.href='/content/{{name}}'"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>Add Interface</button>
      <hr>
      <button class="btn btn-default" onclick="window.location.href='/object/{{name}}/zipBackup/'" hybridlight>Backup</button>
      <form style="display: inline; background-color: #bde9ba;" id="delete0" action="{{objectInterfaceFolder}}" method="post">
        <input type="hidden" name="folder" value="{{name}}">
        <input type="hidden" name="action" value="delete">
        <input type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Do you really want to delete the object {{name}}?')">
      </form>
    </div>
    </div> <!-- /one object -->
</div>
<div class="table table-striped" id="previews" style="display: none">
</div>
<div class="table table-striped" class="files" id="previews" style="display: none">        <div id="template" class="file-row" style="display: none">        </div>    </div>


<script>
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);
    var myDropzone = new Dropzone(document.body, {
        url: "/backup",
        autoProcessQueue: true,
        thumbnailWidth: 80,
        headers: {
            "type": "objectUpload"
        },
        thumbnailHeight: 80,
        parallelUploads: 20,
        createImageThumbnails: false,
        previewTemplate: previewTemplate,
        autoQueue: true,
        previewsContainer: "#previews",
        clickable: ".fileinput-button"
    });
    myDropzone.on("addedfile", function(file) {});
    myDropzone.on("drop", function(file) {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    });
    myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress").style.width = progress + "%";
    });
    myDropzone.on("sending", function(file) {
        document.querySelector("#total-progress").style.opacity = "1";
    });
    myDropzone.on("queuecomplete", function(progress) {});
    myDropzone.on("success", function(file, responseText) {
        console.log(responseText);
        if (responseText === "done") {
            document.querySelector("#total-progress").style.opacity = "0";
            location.reload();
        }
    });
</script>
