<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hybrid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <script src="/js/dropzone.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script> 

  </head>
  <body>
  <div id="sidebar-content"></div>

  <div class="content">
    <div id="header-content"></div>
    <div id="main-content" class="container"></div>
  </div>

  </body>
</html>